#coastHttpsBanner{
    background-color:rgba(255,254,165, .92) !important;
    position:fixed !important;
    top:0 !important;
    left:20px !important;
    right:20px !important;
    z-index:9999 !important;
    color:#8C730C !important;
    text-align:center !important;
    padding:15px !important;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    box-shadow: 0 1px 5px 1px rgba(0,0,0, .44) !important;
    border-radius: 0 !important;
    animation: fadein 1s !important;
}
#coastHttpsBanner button{
    display: block;
    position: absolute;
    top: 6px;
    right: 7px;
    border: 1px solid #67682A;
    background: rgba(197, 199, 133, 0);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 0;
    text-align: center;
    font-size: 18px;
}
#coastHttpsBanner button:hover {
    border: 1px solid transparent;
    background: rgb(167, 169, 70);
    color: rgba(255,254,165, 1);
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
